.post
	text-align: left
	.box
		margin-left: 10px
		margin-right: 10px
		padding-left: 10px
		padding-right: 10px
		border-radius: 0
		&:hover
			background-color: white

	p.title
		text-align: center

	p.auth
		margin-top: 50px
		font-size: 13px
		color: tint(black, 40%)

	code
		background-color: darken(#faf8f0, 2%)
		padding: 2px
		border: 1px solid darken(#faf8f0, 5%)
