<header>
	<div class="nav-wrap">
		<div id="menu"><img src="/assets/img/menu.png"></div>
		<div class="logo">
			<a href="/"><img src="/assets/img/logo.png"></div>
		</a>
		<nav>
			<ul>
				<li class="home"><a href="/">Home</a></li>
				<li class="about"><a href="/about/">About</a></li>
				<li class="articles"><a href="/articles/">Articles</a></li>
			</ul>
		</nav>
		<ul id="stuff" class="inactive">
			<li class="home"><a href="/">Home</a></li>
			<li class="about"><a href="/about/">About</a></li>
			<li class="articles"><a href="/articles/">Articles</a></li>
		</ul>
	</div>
	<script src="/assets/js/nav.js"></script>
</header>